code/XMLfiles/reglesProjet.dtd

<!ELEMENT projet (nomProjet?, typeMarche?, typeConstruction?, typeLot?, site?, datePrixRef?, coeffAdapt?, chapitre*)>
<!ELEMENT chapitre (intitule, categorie*)>
<!ELEMENT categorie (intitule, famille*)>
<!ELEMENT famille (intitule, sousFamille*)>
<!ELEMENT sousFamille (intitule, descriptif*)>
<!ELEMENT descriptif (nomDescriptif, description, courteDescription, descriptif*, ligneChiffrage*)>
<!ELEMENT ligneChiffrage (unite, localisation, quantite, prixUnitaire)>
<!ELEMENT nomProjet (#PCDATA)>
<!ELEMENT typeMarche (#PCDATA)>
<!ELEMENT typeConstruction (#PCDATA)>
<!ELEMENT typeLot (#PCDATA)>
<!ELEMENT site (#PCDATA)>
<!ELEMENT datePrixRef (#PCDATA)>
<!ELEMENT coeffAdapt (#PCDATA)>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT nomDescriptif (#PCDATA)>
<!ELEMENT description ANY>
<!ELEMENT courteDescription (#PCDATA)>
<!ELEMENT unite (#PCDATA)>
<!ELEMENT prixUnitaire (#PCDATA)>
<!ELEMENT localisation (#PCDATA)>
<!ELEMENT quantite (#PCDATA)>
<!ELEMENT b ANY>
<!ELEMENT i ANY>
<!ELEMENT u ANY>
<!ELEMENT ul (li+)>
<!ELEMENT li ANY>
<!ATTLIST projet idProjet CDATA #REQUIRED>
<!ATTLIST chapitre idChapitre CDATA #REQUIRED>
<!ATTLIST categorie idCategorie CDATA #REQUIRED>
<!ATTLIST famille idFamille CDATA #REQUIRED>
<!ATTLIST sousFamille idSousFamille CDATA #REQUIRED>
<!ATTLIST descriptif idDescriptif CDATA #REQUIRED>
<!ATTLIST descriptif type CDATA #REQUIRED>
<!ATTLIST ligneChiffrage idLigneChiffrage CDATA #REQUIRED>