code/XMLfiles/reglesProjet.dtd

<!ELEMENT projet (nomProjet?, typeMarche?, typeConstruction?, typeLot?, site?, datePrixRef?, coeffAdapt?, corpsEtat*)>
<!ELEMENT corpsEtat (intitule, categorie*)>
<!ELEMENT categorie (intitule, famille*)>
<!ELEMENT famille (intitule, sousFamille*)>
<!ELEMENT sousFamille (intitule, descriptif*)>
<!ELEMENT descriptif (nomDescriptif, description, courteDescription, prestation*, unite*, prixUnitaire*, ligneChiffrage*)>
<!ELEMENT ligneChiffrage (localisation, quantite)>
<!ELEMENT nomProjet (#PCDATA)>
<!ELEMENT typeMarche (#PCDATA)>
<!ELEMENT typeConstruction (#PCDATA)>
<!ELEMENT typeLot (#PCDATA)>
<!ELEMENT site (#PCDATA)>
<!ELEMENT datePrixRef (#PCDATA)>
<!ELEMENT coeffAdapte (#PCDATA)>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT nomDescriptif (#PCDATA)>
<!ELEMENT description ANY>
<!ELEMENT courteDescription (#PCDATA)>
<!ELEMENT unite (#PCDATA)>
<!ELEMENT prixUnitaire (#PCDATA)>
<!ELEMENT localisation (#PCDATA)>
<!ELEMENT quantite (#PCDATA)>
<!ELEMENT b ANY>
<!ELEMENT i ANY>
<!ELEMENT u ANY>
<!ATTLIST projet idProjet CDATA #REQUIRED>
<!ATTLIST corpsEtat idCorpsEtat CDATA #REQUIRED>
<!ATTLIST categorie idCategorie CDATA #REQUIRED>
<!ATTLIST famille idFamille CDATA #REQUIRED>
<!ATTLIST sousFamille idSousFamille CDATA #REQUIRED>
<!ATTLIST descriptif idDescriptif CDATA #REQUIRED>
<!ATTLIST descriptif type CDATA #REQUIRED>
<!ATTLIST ligneChiffrage idLigneChiffrage CDATA #REQUIRED>